<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Instygram</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,400,400italic,600,600italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="profileinfo-body">
    <div class="container">
      <div class = "row polaroid-row" >
        <div class="col-md-6 col-md-offset-3 polaroid-top">
          <figcaption class = "pull-left">
            <h3 class="instagram-title">
	            <img class="instagram-icon pull-left" src="/images/instagram_icon.png"  height="30" width="30"/>
	            <a href="{{provider_url}}" target="_blank">Instagram Viewer</a>
	            <button class="btn btn-default profileinfo-button pull-right">Follow +</button>
            </h3>
          </figcaption>
          <img class="polaroid-image" style="border:2px inset gray;border-radius:2px;" height="450" width="425" src="{{thumbnail_url}}" alt="" />
          <h1>{{author_name}} </h1>
          <p>{{title}}</p>
          <p><a href="{{author_url}}">{{author_url}}</a></p>
          <p>
            <button onClick=window.location.href="/" type="submit" class="btn btn-default" style="height:30px;color:#00B7FF;align:bottom;float:right;margin:0 10px 15px 0;">Search Again</button>
            <button onClick=window.location.href="/profilesearch/{{author_name}}" type="submit" class="btn btn-default" style="height:30px;float:right;margin: 0 10px 15px 0;color:#00B7FF;">Back</button>
          </p>
          <br /><br />
        </div>
      </div>
    </div>
  </body>
</html>
